body {
    background-color: #C4C4C4;
}

.opening-page {
    display: grid;
    place-items: center;
    margin-top: 15em;
}

.opening-heading {
    color: #4E3D42;
    font-family: RocknRoll One;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5em;
    line-height: 70px;
    letter-spacing: 0.28em;
}

.opening-subheading {
    color: #4E3D42;
    font-family: RocknRoll One;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: -0.08em;
}

.input-form {
    padding: 1em;
    background-color: #C9D5B5;
    color: #9F9F92;
}

.submit-btn, .phoneticsBtn, .definition-page {
    background-color: #6D6466;
    color: white;
    padding: .5em 1em;
}

.word-information {
    display: none;
}

.speech {
    display: none;
}